#banner
	.banner_content
		%h1 File Cabinet
		%p First app, stay strong!
		%button= link_to "Enter", new_user_registeration_path


#callouts
	.callouts_inner
		.wapper
			.callout
				%h2 Organise
				%p  Try-hard meditation slow-carb twee vinyl vape keytar. Austin bitters intelligentsia ennui, beard ugh selfies kogi freegan vape celiac pinterest fixie. Distillery drinking vinegar butcher blue bottle hashtag, meggings shoreditch hell of fixie poke YOLO knausgaard crucifix venmo. Wayfarers cray selvage pop-up meh, chillwave four dollar toast art party enamel pin craft beer actually prism glossier. Vice single-origin coffee skateboard brunch bicycle rights cray fingerstache ugh put a bird on it butcher gentrify copper mug four loko craft beer.  


#bottom_cta
	.wapper
		%h2 Go ahead!
		%br
		%button= link_to "Join now", new_user_registeration_path